<!-- views/partials/3columns.ejs -->
<section name="content">
    <div class="container">
        <h2 class="text-center">Sua lista de contatos</h2>
        <div class="col-xs-12 text-center">
            <p>Organize seus contatos de maneira intuitiva e segura com a nossa agenda. Para verificar se você já possui um contato, clique em listar e veja todos os seus contatos. Para mais operações basta clicar nos respectivos links. Obrigado! (:</p>
        </div>
    </div>
</section>