<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">© Copyright 2017, By Bruno Mourão, Newton Joaquim e Thiago Ripardo. <a href="https://bitbucket.org/NewtonJoaquim/nuvem-google-cloud.git">Veja o projeto no BitBucket</a></p>
    </div>
</footer>
