<!DOCTYPE html>
<html >

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <!-- content for about page -->
        <div class="container" id="about">
            <div class="row">
                <h2 class="text-center">Sobre</h2>
                    <div class="col-xs-12 text-center">
                        <p>Site construído utilizando express e ejs, sobre a plataforma node.js.</p>
                    </div>

            </div>
        </div><!-- end of content -->

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>
</html>