<!DOCTYPE html>
<html >

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <section name="jumbotron"  >
            <div class="jumbotron text-center">
                <h1>Contatus</h1>
                <p>Seus contatos de maneira interativa e amigável!</p>
            </div>
        </section>

        <% include ../partials/3columns %>

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>

</html>